@font-face {
  font-family: NexaBold;
  src: url(../styles/font/Nexa Bold.otf);
}

@font-face {
  font-family: NexaLight;
  src: url(../styles/font/Nexa Light.otf);
}

.menu-container {
  float: left;
  position: relative;
  background-color: rgba(169, 222, 249, 0.2);
  color: black;
}

.menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  position: relative;
  display: inline-block;
  margin-left: 20px;
}

.menu li a {
  display: block;
  padding: 10px;
  color: #fff;
  text-decoration: none;
}

/* Estilo para el submenú */
.submenu {
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  background-color: #fff;
  padding: 10px;
  width: 200px;
  z-index: 1;
}

/* Estilo para mostrar el submenú en hover */
.menu li:hover .submenu {
  display: block;
  margin-left: 250px;
}
