body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-image:url(https://img.freepik.com/vector-gratis/fondo-naranja-abstracto-lineas-efecto-semitono_1017-32107.jpg) ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

h1 {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

#inventory-section, #add-product-form {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    text-align: left;
}

button {
    margin: 5px;
}

#message {
    color: black;
    font-weight: bold;
}

#product-list {
    list-style-type: none;
}

li {
    border: 1px solid #ccc;
    margin: 5px;
    padding: 5px;
}
 input{
    border-radius:6px ;
 }
 .container {
    background-color: #fff;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }